<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>To-do List</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-app="TodoApp">
    <div id="todo" ng-controller="TodoController">
      <h1 class="intro">Your todos</h1>
      <div class="after-intro">
        <div id="add">
          <input type="text" name="newTodo" ng-model="newItem" placeholder="What needs to be done?">
          <button id="add-button" ng-click="addItem(newItem)">Add</button>
        </div>
          <ul class="list">
            <li ng-repeat="item in items track by $index">
              <div class="wrapper">
                <span>
                  <input id="check-button" type="checkbox" ng-click="toggle(item)">
                </span>
                <div class="item-name {{ item.isDone ? 'item-name-done' : 'item-name-normal' }}">{{ item.name }}</div>
                <div class="delete">
                  <button id="delete-button" ng-click="deleteItem($index)">×</button>
                </div>
              </div>
            </li>
          </ul>
      </div>
    </div>
    <script src="angular.min.js"></script>
    <script src="todo.js"></script>
  </body>
</html>
